Package: com.crazymind90.oslogger
Name: OSLogger
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: @CrazyMind90
Author: @CrazyMind90
Section: Tweaks
